@import url("general.css");

body {
    background-image:url('../images/sky.jpg');
    color: #ffffff;
    font-family: Calibri, Arial;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,h2,h3{
  margin-top: 5rem;
  text-align: center;
  font-family: Arial;
  font-size: 100%;
  color:white;
}

.social {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social a {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: transform 0.2s ease;
}

.social a:hover {
  transform: scale(1.1);
}

.facebook {
  width: 50px;
  height: 50px;
}

.instagram {
  width: 50px;
  height: 50px;
}

.twitter {
  width: 50px;
  height: 50px;
}

.youtube {
  width: 50px;
  height: 50px;
}


.icon {
  width: 20px;
  height: 20px;
}