@import url("general.css");

body{
  background-color: #000000;
  color: #ffffff;
  font-family:Calibri, Arial
}
h1,h2{
  text-align:center;
  font-family:Arial;
  font-size: 200%;
  color:whitesmoke
  }
  p{
    text-align:center;
    font-family:Arial;
    font-size:120%;
    color:white;
}


.icon {
width: 20px;
height: 20px;
}