@import url("general.css");

body {
  margin: 0;
  height: 100vh;
  background: url('../images/Sonnenabschnitt.png') left no-repeat, url('../images/sky.jpg') right top repeat;
}
a {
  text-decoration: none;
}
.header {
  width:100%;
  height: 4rem;
  background-color:black;
  color:white;
  box-sizing: border-box;
  border: .5rem solid black;
  display: flex;
  position: sticky;
  top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.header > * {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header a {
  color: white;
  transition: transform 0.05s ease;
}
.header a:hover {
  transform: scale(1.1);
}

.menu {
  width: 100%;
}
.logo {
  width: 30px;
  height:30px;
}

.planetenBox {
  position:absolute;
  top: calc(50vh - 37px);
  margin-left: 10rem;
  margin-right: 3rem;
  width:calc(100vw - 13rem);
  height:fit-content;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.planetenBox figure {
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.planetenBox figure img {
  height:150px;
  width:150px;
  transition: transform 0.05s;
}

.planetenBox figure:hover img{
  transform: scale(1.25);
}

.planetenBox figure figcaption{
  margin-top: .75rem;
  font-size:150%;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

.planetenBox figure:hover figcaption{
  opacity: 1;
}

/*
---Planetengrößen---
Merkur  4879km    ->45px
Venus   12104km   ->55px
Erde    12742km   ->60px
Mars    6779km    ->48px
Jupiter 139820km  ->160px
Saturn  116460km  ->168px
Uranus  50724km   ->100px
Neptun  49244km   ->85px
*/
#merkur {
  width:45px;
  height:45px;
}
#venus {
  width:55px;
  height:55px;
}
#erde {
  width:60px;
  height:60px;
}
#mars {
  width:48px;
  height:48px;
}
#jupiter {
  width: 160px;
  height: 160px;
}
#saturn {
  width: 133px;
  height: 133px;
}
#uranus {
  width: 100px;
  height: 100px;
}
#neptun {
  width: 85px;
  height: 85px;
}