@import url("general.css");

body {
  background: url('../images/Sonnenabschnitt.png') left no-repeat, url('../images/sky.jpg') right top repeat;
}
a {
  text-decoration: none;
}
.planetenBox {
  position:absolute;
  top: calc(50vh - 37px);
  margin-left: 10rem;
  margin-right: 3rem;
  width:calc(100vw - 13rem);
  height:fit-content;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.planetenBox figure {
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.planetenBox figure img {
  height:150px;
  width:150px;
  transition: transform 0.2s ease;
}

.planetenBox figure:hover img{
  transform: scale(1.25);
}

.planetenBox figure figcaption{
  margin-top: .75rem;
  font-size:150%;
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

.planetenBox figure:hover figcaption{
  opacity: 1;
}

#merkur {
  width:45px;
  height:45px;
}
#venus {
  width:55px;
  height:55px;
}
#erde {
  width:60px;
  height:60px;
}
#mars {
  width:48px;
  height:48px;
}
#jupiter {
  width: 160px;
  height: 160px;
}
#saturn {
  width: 133px;
  height: 133px;
}
#uranus {
  width: 100px;
  height: 100px;
}
#neptun {
  width: 85px;
  height: 85px;
}

